@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="MyContainer">
    
    <div style="display:flex;align-items:end;">
        <div class="gif" ></div>
        <div class="name" style="font-size: 38px; padding: 0px;">Customer reviews:</div>
    </div>    
    @if (this.HttpContext.Session.GetString("Login") != null)
    {
        <div class="but">
            <a class="link" asp-page="Create">Add review</a>
        </div>
    }
    
        @foreach (var item in Model.Messages)
        {
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <span style="font-size:12px"> @Html.DisplayFor(modelItem => item.MessageDate)</span>
                            <span style="color:darkblue; font-weight: bold"> @Html.DisplayFor(modelItem => item.User.Login)</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Message)
                        </td>
                    </tr>
                </tbody>
            </table>
        }    
</div>
